.container {
    width: 376px;
    padding: 12px 18px;
    margin: 12px 0;
    display: flex;
    box-shadow: 0 0 4px 2px lightgray;
    border-radius: 3px;
    background-color: white;
}
.container:hover {
    box-shadow: 0 0 4px 2px deepskyblue;
}

.flexColumn10 {
    flex: 10%
}
.flexColumn25 {
    flex: 25%
}
.flexColumn40 {
    flex: 40%
}

.name {
    padding: 0;
    margin: 0;
}
.description {
    padding: 0;
    margin: 0;
}
.square {
    border-radius: 5px;
    margin: 0 4px 0 0;
    padding: 10px 0;
    cursor: pointer;
}
.square > span,
.square > strong {
    text-align: center;
    display: block;
}
.square > span {
    font-size: 12px;
}
.square > strong {
    font-size: 18px;
    padding: 6px 0 0;
}
.rate[data-color='red'] {
    color: #d11c36;
}
.rate[data-color='green'] {
    color: #0ca16c;
}
.square[data-color='red'] {
    color: #d11c36;
    background-color: #f8dde1;
}
.square[data-color='yellow'] {
    color: #5b5858;
    background-color: #fcd758;
}
.square[data-color='grey'] {
    color: #5b5858;
    background-color: #f5f5f5;
}
.square[data-color='green'] {
    color: #0ca16c;
    background-color: #dbf1e9;
}
.dots {
    line-height: 60px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.btn {
    cursor: pointer;
    padding: 10px;
    border: 0 none;
    font-weight: bold;
    outline: none;
    background-color: white;
}